---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "This is Index Page Title";
const allPosts = await Astro.glob('../pages/posts/*.md');
const allPosts2 = await Astro.glob('../pages/posts2/*.md');
---

<BaseLayout pageTitle={pageTitle}>
		<h1>index content</h1>	
		<ul>
			{allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
		</ul>

		<ul>
			{allPosts2.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
		</ul>
</BaseLayout>
 